<app-header-details *ngIf="league" [title]="league['Nombre De La Liga']"
                    [image]="league['Logo de la Liga']"></app-header-details>
<h3 class="mt-0 mb-2"> {{team.id ? "Editar el equipo:" + team["Nombre del equipo"] : "Agregar Equipo"}}</h3>
<div class="p-fluid">
  <form [formGroup]="form" novalidate>
    <div class="p-field">
      <label for="name">Nombre del equipo: </label>
      <input id="name" type="text" pInputText [(ngModel)]="team['Nombre del equipo']" formControlName="name">
      <small id="name-help" class="p-error"
             *ngIf="form.controls.name.invalid && (form.controls.name.dirty || form.controls.name.touched)">
        El nombre es requerido.
      </small>
    </div>
    <div class="p-field mt-2 mb-1">
      <label for="image">Logo del Equipo: </label>
      <input id="image" type="text" pInputText [(ngModel)]="team['Logo del Equipo']" formControlName="image">
      <small id="image-help" class="p-error"
             *ngIf="form.controls.image.invalid && (form.controls.image.dirty || form.controls.image.touched)">
         La imagen es requerido.
      </small>
    </div>
  </form>
</div>

<div class="grid mt-4 mr-1">
  <div class="col">

  </div>
  <div class="col-auto">
    <button pButton type="button" label="Cancelar" class="p-button-outlined p-button-danger mr-4"
            (click)="goBack()"></button>
    <button pButton type="button" label="Guardar" icon="pi pi-check" (click)="save()" [disabled]="form.invalid"></button>

  </div>
</div>
