<div class="grid mr-2">
  <div class="col">
    <app-league-details *ngIf="league" [league]="league"></app-league-details>
    <h3 class="mt-0 mb-2">Equipos:</h3>

  </div>
  <div class="col-auto">
   <a [routerLink]="['/team','edit',leagueId]"><button pButton type="button" icon="pi pi-plus-circle" label="Agregar Equipo" ></button></a>
  </div>
</div>
<app-loading *ngIf="loading"></app-loading>

<app-item-list *ngFor="let team of teams" [routerLink]="['/team',team.id]" [image]="team['Logo del Equipo']"
               [name]="team['Nombre del equipo']"></app-item-list>


